$col-primary: #53cf91;
$col-white: #fff;
$col-light: #f2f2f2;
$col-light-2: #e5e5e5;
$col-gray: #cad0da;
$col-mid-gray: #777;
$col-light-gray: #a9adbc;
$col-red: #ff4444;
$col-text: #060805;

$i-back: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 12l9-8v6h15v4h-15v6z'/%3E%3C/svg%3E");
